:root {
    --fuente1 : 'Roboto', sans-serif;
    --fuente2 : 'Cutive Mono', monospace;
    --color1 : #0d1117;
    --color2 : rgb(173, 184, 194);
    --color3 : #79b185;
    --color4 : #79c0ff;
    --color5: #1c474d;
    --color6: #060e14;
    --sombraHover : rgba(102, 129, 131, 0.2);
    --fondoHover :  rgba(102, 129, 131, 0.5);
    --sombraBoton : rgba(18, 59, 34, 0.3);
}
h1 {
    font-size: 5rem;
    font-weight:bold;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2.5rem;
    color: var(--color2);
}
h4{
    font-size: 1.9rem;
    color: var(--color3);
}
h5 {
    font-size: 1.4rem;
}
p {
    color: whitesmoke;
    font-size: 1.3rem;
    line-height: 1.7rem;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

html {
    font-size: 62.5%;
}
body {
    width: 100%;
    background-color: var(--color1);
    font-family: var(--fuente1);
    color: var(--color2);
}
main {
    max-width: 1024px;
}  