.main-section-proyects {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    width: 90%;
    max-width: 1024px;
    height: 100%;
    padding: 10px;
    border: 1px solid var(--fondoHover);
    border-radius: 3px;
    margin: 0 auto;
}
.main-section-proyects  a {
    border-radius: 4px;
    background-image: url('../assets/img/code.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--color1);
}
.main-section-proyects a:hover {
    border: 1px solid var(--color2);
    border-radius: 3px;
    box-shadow: 0px 0px 30px 5px rgba(47, 50, 53, 0.5);
}
.main-section-proyects div {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}
.main-section-proyects div:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.main-section-proyects div h3 {
    padding: 10px;  
    text-align: center;
}
.main-section-proyects div h3:hover {
    color: white;
}
.main-grid-proyects {
    display: grid;
    grid-template-rows: auto;
    padding: 5px;
}
.main-grid-proyects .grid-proyects-mini {
    min-width: 230px;
    width: 95%;
    max-width: 1024px;
    height: 180px;
    margin: 5px;
    border-radius: 3px;
    background-color: var(--sombraHover);
}
@media (min-width:450px){
    .main-grid-proyects .grid-proyects-mini {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (min-width:800px){
    .main-grid-proyects .grid-proyects-mini {
        margin-left: 20px;
        margin-right: 25px;
    }
}
@media (min-width:1024px){
    .main-grid-proyects .grid-proyects-mini {
        margin-left: 25px;
        margin-right: 25px;
    }
}