.main-section-blog {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    width: 90%;
    max-width: 1024px;
    height: 100%;
    padding: 10px;
    border: 1px solid var(--fondoHover);
    border-radius: 3px;
    margin: 0 auto;
}
.main-section-blog  a {
    border-radius: 4px;
    background-image: url('../assets/img/blog.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    border: 1px solid var(--color1);
}
.main-section-blog  a:hover {
    border: 1px solid var(--color2);
    border-radius: 3px;
    box-shadow: 0px 0px 30px 5px rgba(47, 50, 53, 0.5);
}
.main-section-blog div {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}
.main-section-blog div:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.main-section-blog div h3 {
    padding: 10px;  
    text-align: center;
}
.main-section-blog div h3:hover {
    color: white;
}
.main-grid-blog {
    height: 220px;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-grid-blog .grid-blog-mini {
    width: 280px;
    height: 180px;
    margin: 10px;
    border-radius: 3px;
    background-color: var(--sombraHover);
    scroll-snap-align: center;
}
.main-grid-blog .grid-blog-mini p {
    width: 280px;
}