@import url('./global.css');
@import url('./footer.css');
@import url('./header.css');
main {
    max-width: 1024px;
}   
.main-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px auto;
}
.main-grid-personal {
    display: grid;
    grid-row: 1fr 1fr;
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 3px;
    background-color: var(--sombraHover);
}
.grid-personal-bottom {
    display: grid;
    grid-template-columns: 7fr 5fr 7fr;
    margin: 10px;
}
.grid-personal-bottom-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.grid-personal-bottom-center img {
    width: 90px;
    border-radius: 50px;
    border: 1px solid var(--fondoHover);
}
.grid-personal-bottom-left, .grid-personal-bottom-right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.grid-personal-bottom-left  p, .grid-personal-bottom-left h5 {
    text-align: end;
}
.grid-personal-top h4 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}