@import url('./global.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./home-personal.css');
.main-section-blog {

    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    padding: 10px;
    border: 1px solid var(--fondoHover);
    border-radius: 3px;
    margin: 0 auto;
}
.main-section-blog h3 {
    margin: 10px;
    text-align: center;
}
.main-grid-blog {
    height: 220px;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-grid-blog .grid-blog-mini {
    width: 280px;
    height: 200px;
    margin: 10px;
    border-radius: 3px;
    background-color: var(--sombraHover);
    scroll-snap-align: center;
}
.main-grid-blog .grid-blog-mini p {
    width: 280px;
}