@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
:root{
  --font1 : 'Cutive Mono', monospace;
  --color1: #121f3d;
}
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: var(--font1);
  min-width: 320px;
  margin: 0 auto;
  color: black;
}
body {
  background-color: rgb(201, 201, 201);
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3.2rem;
}
h3{
  font-size: 2.4rem;
}
h4{
  font-size: 1.8rem;
}