h3 {
  margin: 20px auto;

}
h3 a {
  padding: 3px 5px;
  border-radius: 5px;
  color: #121f3d;
  text-decoration: none;
}
h3 a:hover {
  color: #98ca3f;
  background-color: #121f3d;
}
h4, h2, h3 {
  margin-block-end: 10px;
  width: 68%;
  max-width: 800px;
}