.index {
  width: auto;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3.2rem;
}
.index a{
  color: rgb(124, 120, 120);
}
.index .index-description {
  width: 95%;
  margin: 30px auto;
}
.index h1{
  text-align: center;
  color: var(--color1);
}
.index h3 {
  width: 90%;
  /* color: #333; */
}
.index .index-description-right {
  display: block;
  margin: auto 0 auto auto;
  text-align: end;
}
.index h4 {
  text-align: center;
  margin: 15px
}