@media (max-width:980px) {
    .index {
        width: 85%;
        margin: 10px auto;  
    }
    .index .index-description {
        width: 75%;
        margin: 10px auto;
    }
    .index .index-description-right {
        width: 75%;
    }
    .index h3 {
        width: 75%;
    }
}
@media (max-width:600px) {
    .index {
        width: 95%;  
    }
    .index .index-description {
        width: 75%;
    }
    .index .index-description-right {
        width: 90%;
    }
    .index h3 {
        width: 90%;
    }
}