.index
  width: auto
  margin: 10px auto
  display: flex
  flex-direction: column
  justify-content: center
  line-height: 3.2rem

  a
    color: rgb(124, 120, 120)

  h1
    text-align: center
    color: var(--color1)

  .index-description
    width: 95%
    margin: 30px auto

    h3
      width: 90%

    .index-description-right
      display: block
      margin: auto 0 auto auto
      text-align: end

    h4
      text-align: center
      margin: 15px
